secuencia eval/1-10.json
[
  {
    "id": "1",
    "type": "tab",
    "label": "Flujos 1-10 básicos",
    "disabled": false,
    "info": "Colección de los primeros 10 flujos básicos de dashboard"
  },
  {
    "id": "f1",
    "type": "inject",
    "z": "1",
    "name": "Texto fijo",
    "props": [],
    "repeat": "",
    "once": true,
    "topic": "",
    "x": 120,
    "y": 80,
    "wires": [["d1"]]
  },
  {
    "id": "d1",
    "type": "ui_text",
    "z": "1",
    "group": "g1",
    "order": 1,
    "width": 0,
    "height": 0,
    "name": "Texto estático",
    "label": "Mensaje:",
    "format": "¡Hola Dashboard!",
    "layout": "row-spread",
    "x": 340,
    "y": 80,
    "wires": []
  },
  {
    "id": "f2",
    "type": "inject",
    "z": "1",
    "name": "Random",
    "props": [{"p":"payload"}],
    "repeat": "2",
    "once": true,
    "topic": "",
    "payloadType": "num",
    "x": 110,
    "y": 140,
    "wires": [["d2"]]
  },
  {
    "id": "d2",
    "type": "ui_gauge",
    "z": "1",
    "name": "Medidor",
    "group": "g1",
    "order": 2,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Nivel",
    "label": "%",
    "format": "{{value}}",
    "min": 0,
    "max": 100,
    "x": 340,
    "y": 140,
    "wires": []
  },
  {
    "id": "f3",
    "type": "inject",
    "z": "1",
    "name": "Contador",
    "props": [{"p":"payload"}],
    "repeat": "1",
    "once": true,
    "topic": "",
    "payloadType": "num",
    "x": 110,
    "y": 200,
    "wires": [["d3"]]
  },
  {
    "id": "d3",
    "type": "ui_chart",
    "z": "1",
    "name": "Gráfico simple",
    "group": "g1",
    "order": 3,
    "width": 0,
    "height": 0,
    "label": "Datos en vivo",
    "chartType": "line",
    "legend": "false",
    "x": 340,
    "y": 200,
    "wires": [[],[]]
  },
  {
    "id": "f4",
    "type": "ui_slider",
    "z": "1",
    "name": "Slider",
    "label": "Control deslizante",
    "group": "g1",
    "order": 4,
    "width": 0,
    "height": 0,
    "passthru": true,
    "topic": "slider",
    "min": 0,
    "max": 100,
    "step": 1,
    "x": 120,
    "y": 260,
    "wires": [["d4"]]
  },
  {
    "id": "d4",
    "type": "debug",
    "z": "1",
    "name": "Valor Slider",
    "active": true,
    "console": false,
    "tostatus": true,
    "x": 340,
    "y": 260,
    "wires": []
  },
  {
    "id": "f5",
    "type": "ui_switch",
    "z": "1",
    "name": "Interruptor",
    "label": "On/Off",
    "group": "g1",
    "order": 5,
    "width": 0,
    "height": 0,
    "passthru": true,
    "topic": "switch",
    "x": 120,
    "y": 320,
    "wires": [["d5"]]
  },
  {
    "id": "d5",
    "type": "debug",
    "z": "1",
    "name": "Valor Switch",
    "active": true,
    "console": false,
    "tostatus": true,
    "x": 340,
    "y": 320,
    "wires": []
  },
  {
    "id": "f6",
    "type": "inject",
    "z": "1",
    "name": "Temp random",
    "props": [{"p":"payload"}],
    "repeat": "5",
    "payloadType": "num",
    "topic": "",
    "x": 120,
    "y": 380,
    "wires": [["d6"]]
  },
  {
    "id": "d6",
    "type": "ui_text",
    "z": "1",
    "name": "Texto dinámico",
    "group": "g1",
    "order": 6,
    "width": 0,
    "height": 0,
    "label": "Temperatura",
    "format": "{{msg.payload}} °C",
    "layout": "row-center",
    "x": 340,
    "y": 380,
    "wires": []
  },
  {
    "id": "f7",
    "type": "ui_button",
    "z": "1",
    "name": "Botón simple",
    "group": "g1",
    "order": 7,
    "width": 0,
    "height": 0,
    "label": "Presióname",
    "color": "",
    "bgcolor": "",
    "icon": "fa-hand-pointer-o",
    "payload": "Botón presionado",
    "payloadType": "str",
    "topic": "",
    "x": 130,
    "y": 440,
    "wires": [["d7"]]
  },
  {
    "id": "d7",
    "type": "debug",
    "z": "1",
    "name": "Debug Botón",
    "active": true,
    "console": false,
    "tostatus": true,
    "x": 340,
    "y": 440,
    "wires": []
  },
  {
    "id": "f8",
    "type": "inject",
    "z": "1",
    "name": "Random velocidad",
    "props": [{"p":"payload"}],
    "repeat": "3",
    "payloadType": "num",
    "topic": "",
    "x": 120,
    "y": 500,
    "wires": [["d8"]]
  },
  {
    "id": "d8",
    "type": "ui_gauge",
    "z": "1",
    "name": "Velocidad",
    "group": "g1",
    "order": 8,
    "width": 0,
    "height": 0,
    "gtype": "donut",
    "title": "Velocidad",
    "label": "km/h",
    "min": 0,
    "max": 200,
    "x": 340,
    "y": 500,
    "wires": []
  },
  {
    "id": "f9",
    "type": "ui_numeric",
    "z": "1",
    "name": "Numérico",
    "label": "Introduce valor",
    "group": "g1",
    "order": 9,
    "width": 0,
    "height": 0,
    "passthru": true,
    "topic": "num",
    "x": 120,
    "y": 560,
    "wires": [["d9"]]
  },
  {
    "id": "d9",
    "type": "debug",
    "z": "1",
    "name": "Debug Numérico",
    "active": true,
    "console": false,
    "tostatus": true,
    "x": 340,
    "y": 560,
    "wires": []
  },
  {
    "id": "f10",
    "type": "inject",
    "z": "1",
    "name": "Aleatorio gráfico barra",
    "props": [{"p":"payload"}],
    "repeat": "2",
    "payloadType": "num",
    "topic": "",
    "x": 130,
    "y": 620,
    "wires": [["d10"]]
  },
  {
    "id": "d10",
    "type": "ui_chart",
    "z": "1",
    "name": "Gráfico barras",
    "group": "g1",
    "order": 10,
    "width": 0,
    "height": 0,
    "label": "Consumo",
    "chartType": "bar",
    "x": 350,
    "y": 620,
    "wires": [[],[]]
  },
  {
    "id": "g1",
    "type": "ui_group",
    "name": "Básicos",
    "tab": "t1",
    "order": 1,
    "disp": true,
    "width": "6"
  },
  {
    "id": "t1",
    "type": "ui_tab",
    "name": "Dashboard 1-10",
    "icon": "dashboard",
    "order": 1
  }
]
