secuencia eval/1-30.json
[
  {
    "id": "21-30",
    "type": "tab",
    "label": "Flujos 21-30 avanzados",
    "disabled": false,
    "info": "Flujos avanzados iniciales de dashboard (21 a 30)"
  },
  {
    "id": "f21",
    "type": "inject",
    "z": "21-30",
    "name": "HTTP simulada",
    "props": [{"p":"payload"}],
    "payload": "{\"temperatura\":25,\"humedad\":60}",
    "payloadType": "json",
    "x": 130,
    "y": 80,
    "wires": [["d21"]]
  },
  {
    "id": "d21",
    "type": "ui_text",
    "z": "21-30",
    "group": "g21",
    "order": 1,
    "name": "Temp+Hum",
    "label": "Clima",
    "format": "Temp: {{msg.payload.temperatura}} °C - Hum: {{msg.payload.humedad}} %",
    "layout": "row-spread",
    "x": 370,
    "y": 80,
    "wires": []
  },
  {
    "id": "f22",
    "type": "inject",
    "z": "21-30",
    "name": "MQTT msg",
    "props": [{"p":"payload"}],
    "payload": "{\"topic\":\"casa/luz\",\"valor\":1}",
    "payloadType": "json",
    "x": 120,
    "y": 140,
    "wires": [["d22"]]
  },
  {
    "id": "d22",
    "type": "ui_switch",
    "z": "21-30",
    "name": "Switch MQTT",
    "label": "Luz Sala",
    "group": "g21",
    "order": 2,
    "width": 0,
    "height": 0,
    "topic": "casa/luz",
    "x": 370,
    "y": 140,
    "wires": [["debug22"]]
  },
  {
    "id": "debug22",
    "type": "debug",
    "z": "21-30",
    "name": "MQTT salida",
    "active": true,
    "console": false,
    "tostatus": true,
    "x": 580,
    "y": 140,
    "wires": []
  },
  {
    "id": "f23",
    "type": "inject",
    "z": "21-30",
    "name": "Random presión",
    "props": [{"p":"payload"}],
    "payloadType": "num",
    "topic": "",
    "repeat": "3",
    "x": 130,
    "y": 200,
    "wires": [["d23"]]
  },
  {
    "id": "d23",
    "type": "ui_chart",
    "z": "21-30",
    "name": "Presión línea",
    "group": "g21",
    "order": 3,
    "width": 0,
    "height": 0,
    "label": "Presión (psi)",
    "chartType": "line",
    "legend": "false",
    "x": 380,
    "y": 200,
    "wires": [[],[]]
  },
  {
    "id": "f24",
    "type": "ui_slider",
    "z": "21-30",
    "name": "Slider y gauge",
    "label": "Velocidad",
    "group": "g21",
    "order": 4,
    "width": 0,
    "height": 0,
    "topic": "velocidad",
    "min": 0,
    "max": 100,
    "step": 1,
    "x": 140,
    "y": 260,
    "wires": [["d24"]]
  },
  {
    "id": "d24",
    "type": "ui_gauge",
    "z": "21-30",
    "name": "Gauge velocidad",
    "group": "g21",
    "order": 5,
    "gtype": "gage",
    "title": "Velocidad",
    "label": "km/h",
    "min": 0,
    "max": 100,
    "x": 390,
    "y": 260,
    "wires": []
  },
  {
    "id": "f25",
    "type": "inject",
    "z": "21-30",
    "name": "Tabla data",
    "props": [{"p":"payload"}],
    "payload": "[{\"id\":1,\"nombre\":\"Ana\",\"edad\":22},{\"id\":2,\"nombre\":\"Luis\",\"edad\":30}]",
    "payloadType": "json",
    "x": 130,
    "y": 320,
    "wires": [["d25"]]
  },
  {
    "id": "d25",
    "type": "ui_table",
    "z": "21-30",
    "group": "g21",
    "order": 6,
    "width": 0,
    "height": 0,
    "name": "Tabla personas",
    "label": "Usuarios",
    "x": 390,
    "y": 320,
    "wires": []
  },
  {
    "id": "f26",
    "type": "ui_numeric",
    "z": "21-30",
    "name": "Entrada num",
    "label": "Cantidad",
    "group": "g21",
    "order": 7,
    "width": 0,
    "height": 0,
    "passthru": true,
    "topic": "cantidad",
    "x": 130,
    "y": 380,
    "wires": [["debug26"]]
  },
  {
    "id": "debug26",
    "type": "debug",
    "z": "21-30",
    "name": "Salida cantidad",
    "active": true,
    "console": false,
    "tostatus": true,
    "x": 370,
    "y": 380,
    "wires": []
  },
  {
    "id": "f27",
    "type": "inject",
    "z": "21-30",
    "name": "Simula API clima",
    "props": [{"p":"payload"}],
    "payload": "{\"ciudad\":\"Santiago\",\"temp\":28,\"hum\":50}",
    "payloadType": "json",
    "x": 140,
    "y": 440,
    "wires": [["d27"]]
  },
  {
    "id": "d27",
    "type": "ui_template",
    "z": "21-30",
    "group": "g21",
    "order": 8,
    "width": 6,
    "height": 2,
    "name": "Card clima",
    "format": "<div style='padding:10px;border:1px solid #ccc;border-radius:10px;background:#eef;'>Ciudad: {{msg.payload.ciudad}}<br>Temp: {{msg.payload.temp}} °C<br>Humedad: {{msg.payload.hum}}%</div>",
    "x": 380,
    "y": 440,
    "wires": []
  },
  {
    "id": "f28",
    "type": "ui_switch",
    "z": "21-30",
    "name": "Control color",
    "label": "Encender",
    "group": "g21",
    "order": 9,
    "x": 140,
    "y": 500,
    "wires": [["d28"]]
  },
  {
    "id": "d28",
    "type": "ui_text",
    "z": "21-30",
    "group": "g21",
    "order": 10,
    "name": "Texto color",
    "label": "Estado",
    "format": "<span style='color:{{msg.payload==true?\"green\":\"red\"}}'>{{msg.payload}}</span>",
    "x": 370,
    "y": 500,
    "wires": []
  },
  {
    "id": "f29",
    "type": "inject",
    "z": "21-30",
    "name": "Random doble",
    "props": [{"p":"payload"}],
    "payloadType": "num",
    "repeat": "2",
    "x": 140,
    "y": 560,
    "wires": [["s29"]]
  },
  {
    "id": "s29",
    "type": "function",
    "z": "21-30",
    "name": "Dos series",
    "func": "msg = [{payload:{series:[\"A\"],data:[[msg.payload]]}}, {payload:{series:[\"B\"],data:[[msg.payload*2]]}}];\nreturn msg;",
    "outputs": 2,
    "x": 350,
    "y": 560,
    "wires": [["d29"],["d29"]]
  },
  {
    "id": "d29",
    "type": "ui_chart",
    "z": "21-30",
    "name": "Chart doble serie",
    "group": "g21",
    "order": 11,
    "label": "Series A y B",
    "x": 590,
    "y": 560,
    "wires": [[],[]]
  },
  {
    "id": "f30",
    "type": "ui_button",
    "z": "21-30",
    "name": "Botón reset",
    "group": "g21",
    "order": 12,
    "label": "Reset tabla",
    "payload": "[]",
    "payloadType": "json",
    "x": 140,
    "y": 620,
    "wires": [["d25"]]
  },
  {
    "id": "g21",
    "type": "ui_group",
    "name": "Avanzados 21-30",
    "tab": "t21",
    "order": 1,
    "disp": true,
    "width": "6"
  },
  {
    "id": "t21",
    "type": "ui_tab",
    "name": "Dashboard 21-30",
    "icon": "dashboard",
    "order": 4
  }
]
