secuencia eval/11-20.json
[
  {
    "id": "11-20",
    "type": "tab",
    "label": "Flujos 11-20 intermedios",
    "disabled": false,
    "info": "Colección de flujos intermedios de dashboard (11 a 20)"
  },
  {
    "id": "f11",
    "type": "ui_dropdown",
    "z": "11-20",
    "name": "Dropdown",
    "label": "Selecciona fruta",
    "tooltip": "",
    "place": "elige...",
    "group": "g2",
    "order": 1,
    "width": 0,
    "height": 0,
    "options": [
      {"label":"Manzana","value":"manzana","type":"str"},
      {"label":"Pera","value":"pera","type":"str"},
      {"label":"Plátano","value":"platano","type":"str"}
    ],
    "topic": "fruta",
    "x": 140,
    "y": 80,
    "wires": [["d11"]]
  },
  {
    "id": "d11",
    "type": "debug",
    "z": "11-20",
    "name": "Debug fruta",
    "active": true,
    "console": false,
    "tostatus": true,
    "x": 360,
    "y": 80,
    "wires": []
  },
  {
    "id": "f12",
    "type": "ui_text_input",
    "z": "11-20",
    "name": "Texto input",
    "label": "Nombre",
    "tooltip": "",
    "group": "g2",
    "order": 2,
    "width": 0,
    "height": 0,
    "passthru": true,
    "mode": "text",
    "topic": "nombre",
    "x": 130,
    "y": 140,
    "wires": [["d12"]]
  },
  {
    "id": "d12",
    "type": "ui_text",
    "z": "11-20",
    "group": "g2",
    "order": 3,
    "width": 0,
    "height": 0,
    "name": "Echo nombre",
    "label": "Hola",
    "format": "{{msg.payload}}",
    "layout": "row-center",
    "x": 370,
    "y": 140,
    "wires": []
  },
  {
    "id": "f13",
    "type": "inject",
    "z": "11-20",
    "name": "Random 0-50",
    "props": [{"p":"payload"}],
    "repeat": "2",
    "payloadType": "num",
    "topic": "",
    "x": 120,
    "y": 200,
    "wires": [["d13"]]
  },
  {
    "id": "d13",
    "type": "ui_gauge",
    "z": "11-20",
    "name": "Gauge con color",
    "group": "g2",
    "order": 4,
    "gtype": "gage",
    "title": "Nivel color",
    "label": "valor",
    "format": "{{value}}",
    "min": 0,
    "max": 50,
    "seg1": 15,
    "seg2": 35,
    "x": 370,
    "y": 200,
    "wires": []
  },
  {
    "id": "f14",
    "type": "ui_template",
    "z": "11-20",
    "group": "g2",
    "name": "Imagen fija",
    "order": 5,
    "width": 6,
    "height": 4,
    "format": "<img src='https://upload.wikimedia.org/wikipedia/commons/3/3a/Cat03.jpg' style='width:100%'>",
    "x": 150,
    "y": 260,
    "wires": []
  },
  {
    "id": "f15",
    "type": "ui_text",
    "z": "11-20",
    "group": "g2",
    "order": 6,
    "width": 0,
    "height": 0,
    "name": "Estado con color",
    "label": "Estado",
    "format": "<span style='color:{{msg.color}}'>{{msg.payload}}</span>",
    "layout": "row-spread",
    "x": 160,
    "y": 320,
    "wires": []
  },
  {
    "id": "genera15",
    "type": "inject",
    "z": "11-20",
    "name": "Encendido",
    "props": [{"p":"payload","v":"Encendido","vt":"str"},{"p":"color","v":"green","vt":"str"}],
    "x": 370,
    "y": 300,
    "wires": [["f15"]]
  },
  {
    "id": "genera15b",
    "type": "inject",
    "z": "11-20",
    "name": "Apagado",
    "props": [{"p":"payload","v":"Apagado","vt":"str"},{"p":"color","v":"red","vt":"str"}],
    "x": 370,
    "y": 340,
    "wires": [["f15"]]
  },
  {
    "id": "f16",
    "type": "ui_toast",
    "z": "11-20",
    "position": "top right",
    "displayTime": "3",
    "highlight": "",
    "outputs": 0,
    "ok":"OK",
    "cancel":"",
    "topic": "",
    "name": "Notificación",
    "x": 360,
    "y": 400,
    "wires": []
  },
  {
    "id": "genera16",
    "type": "inject",
    "z": "11-20",
    "name": "Mostrar toast",
    "props": [{"p":"payload","v":"¡Alerta Dashboard!","vt":"str"}],
    "x": 140,
    "y": 400,
    "wires": [["f16"]]
  },
  {
    "id": "f17",
    "type": "ui_button",
    "z": "11-20",
    "name": "Botón Tab2",
    "group": "g3",
    "order": 1,
    "width": 0,
    "height": 0,
    "label": "En Tab 2",
    "payload": "Hola Tab2",
    "topic": "",
    "x": 140,
    "y": 460,
    "wires": [["d17"]]
  },
  {
    "id": "d17",
    "type": "ui_text",
    "z": "11-20",
    "group": "g3",
    "order": 2,
    "width": 0,
    "height": 0,
    "name": "Texto Tab2",
    "label": "Mensaje",
    "format": "{{msg.payload}}",
    "layout": "row-center",
    "x": 350,
    "y": 460,
    "wires": []
  },
  {
    "id": "f18",
    "type": "inject",
    "z": "11-20",
    "name": "Lista frutas",
    "props": [{"p":"payload"}],
    "payload": "[\"Manzana\",\"Pera\",\"Sandía\"]",
    "payloadType": "json",
    "x": 130,
    "y": 520,
    "wires": [["d18"]]
  },
  {
    "id": "d18",
    "type": "ui_list",
    "z": "11-20",
    "group": "g2",
    "order": 7,
    "width": 0,
    "height": 0,
    "name": "Lista",
    "label": "Lista dinámica",
    "template": "{{msg.payload}}",
    "x": 360,
    "y": 520,
    "wires": []
  },
  {
    "id": "f19",
    "type": "ui_date_picker",
    "z": "11-20",
    "name": "Calendario",
    "label": "Selecciona fecha",
    "group": "g2",
    "order": 8,
    "width": 0,
    "height": 0,
    "topic": "fecha",
    "x": 140,
    "y": 580,
    "wires": [["d19"]]
  },
  {
    "id": "d19",
    "type": "debug",
    "z": "11-20",
    "name": "Debug fecha",
    "active": true,
    "console": false,
    "tostatus": true,
    "x": 360,
    "y": 580,
    "wires": []
  },
  {
    "id": "f20",
    "type": "inject",
    "z": "11-20",
    "name": "Random multiChart",
    "props": [{"p":"payload"}],
    "payloadType": "num",
    "repeat": "2",
    "x": 130,
    "y": 640,
    "wires": [["d20"]]
  },
  {
    "id": "d20",
    "type": "ui_chart",
    "z": "11-20",
    "name": "Multi serie",
    "group": "g2",
    "order": 9,
    "width": 0,
    "height": 0,
    "label": "Comparación",
    "chartType": "line",
    "legend": "true",
    "x": 370,
    "y": 640,
    "wires": [[],[]]
  },
  {
    "id": "g2",
    "type": "ui_group",
    "name": "Intermedios",
    "tab": "t2",
    "order": 1,
    "disp": true,
    "width": "6"
  },
  {
    "id": "g3",
    "type": "ui_group",
    "name": "Otra Tab",
    "tab": "t3",
    "order": 1,
    "disp": true,
    "width": "6"
  },
  {
    "id": "t2",
    "type": "ui_tab",
    "name": "Dashboard 11-20",
    "icon": "dashboard",
    "order": 2
  },
  {
    "id": "t3",
    "type": "ui_tab",
    "name": "Tab secundaria",
    "icon": "dashboard",
    "order": 3
  }
]
