secuencia eval/5 switch interruptor.json
[
    {
        "id": "switch1",
        "type": "ui_switch",
        "z": "flow5",
        "name": "Interruptor",
        "label": "LED",
        "tooltip": "",
        "group": "group5",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "led",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 140,
        "y": 80,
        "wires": [
            [
                "function5"
            ]
        ]
    },
    {
        "id": "function5",
        "type": "function",
        "z": "flow5",
        "name": "Procesar Estado",
        "func": "if (msg.payload === true) {\n    msg.payload = \"LED ENCENDIDO\";\n    msg.color = \"green\";\n} else {\n    msg.payload = \"LED APAGADO\";\n    msg.color = \"red\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 330,
        "y": 80,
        "wires": [
            [
                "text5"
            ]
        ]
    },
    {
        "id": "text5",
        "type": "ui_text",
        "z": "flow5",
        "name": "Estado LED",
        "group": "group5",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<div style='color:{{msg.color}}'>{{msg.payload}}</div>",
        "layout": "row-spread",
        "x": 520,
        "y": 80,
        "wires": []
    },
    {
        "id": "group5",
        "type": "ui_group",
        "name": "Control LED",
        "tab": "tab5",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "tab5",
        "type": "ui_tab",
        "name": "Control",
        "icon": "lightbulb_outline",
        "order": 5,
        "disabled": false,
        "hidden": false
    }
]