secuencia Ini/03_mensaje_con_hora.json
[{"id":"inject1","type":"inject","z":"flow1","name":"Enviar","props":[{"p":"payload"}],"repeat":"","once":false,"onceDelay":0.1,"topic":"","payload":"Mensaje con hora","payloadType":"str","x":170,"y":100,"wires":[["function1"]]},{"id":"function1","type":"function","z":"flow1","name":"Añadir hora","func":"msg.payload = msg.payload + ' - ' + new Date().toLocaleString();\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":100,"wires":[["debug1"]]},{"id":"debug1","type":"debug","z":"flow1","name":"Ver Mensaje","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":560,"y":100,"wires":[]}]

