secuencia Ini/04_contador.json
[{"id":"inject1","type":"inject","z":"flow1","name":"Incrementar","props":[{"p":"payload"}],"repeat":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":160,"y":140,"wires":[["function1"]]},{"id":"function1","type":"function","z":"flow1","name":"Contador","func":"context.count = (context.count || 0) + 1;\nmsg.payload = 'Conteo: ' + context.count;\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":140,"wires":[["debug1"]]},{"id":"debug1","type":"debug","z":"flow1","name":"Ver Conteo","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":540,"y":140,"wires":[]}]
