secuencia Ini/06_api_clima.json
[{"id":"inject1","type":"inject","z":"flow1","name":"Obtener Clima","props":[{"p":"payload"}],"repeat":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":160,"y":120,"wires":[["http1"]]},{"id":"http1","type":"http request","z":"flow1","name":"API Clima","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.open-meteo.com/v1/forecast?latitude=-33.45&longitude=-70.66&current_weather=true","persist":false,"authType":"","senderr":false,"x":350,"y":120,"wires":[["debug1"]]},{"id":"debug1","type":"debug","z":"flow1","name":"Ver Datos","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":120,"wires":[]}]


