secuencia Ini/07_grafico_dashboard.json
[{"id":"inject1","type":"inject","z":"flow1","name":"Dato Aleatorio","props":[{"p":"payload"}],"repeat":"5","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":150,"y":140,"wires":[["function1"]]},{"id":"function1","type":"function","z":"flow1","name":"Generar Número","func":"msg.payload = Math.floor(Math.random() * 100);\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":140,"wires":[["ui_chart1"]]},{"id":"ui_chart1","type":"ui_chart","z":"flow1","name":"Gráfico","group":"ui_group1","order":0,"width":0,"height":0,"label":"Datos","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"60","cutout":"","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":540,"y":140,"wires":[[],[]]},{"id":"ui_group1","type":"ui_group","name":"Grupo Principal","tab":"ui_tab1","order":1,"disp":true,"width":"6","collapse":false},{"id":"ui_tab1","type":"ui_tab","name":"Panel Gráfico","icon":"dashboard","disabled":false,"hidden":false}]



