secuencia Ini/08_mqtt_publicar_recibir.json
[{"id":"mqtt_out","type":"mqtt out","z":"flow1","name":"","topic":"profe/salida","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"mqtt_broker","x":420,"y":100,"wires":[]},{"id":"inject1","type":"inject","z":"flow1","name":"Publicar Hola","props":[{"p":"payload"}],"repeat":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hola MQTT","payloadType":"str","x":180,"y":100,"wires":[["mqtt_out"]]},{"id":"mqtt_in","type":"mqtt in","z":"flow1","name":"","topic":"profe/entrada","qos":"2","datatype":"auto-detect","broker":"mqtt_broker","nl":false,"rap":true,"rh":0,"x":180,"y":160,"wires":[["debug1"]]},{"id":"debug1","type":"debug","z":"flow1","name":"Ver Mensaje","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":420,"y":160,"wires":[]},{"id":"mqtt_broker","type":"mqtt-broker","name":"Local Mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
