secuencia Ini/09_alerta_email.json
[{"id":"inject1","type":"inject","z":"flow1","name":"Dato Aleatorio","props":[{"p":"payload"}],"repeat":"10","once":false,"onceDelay":0.1,"topic":"","payloadType":"num","x":160,"y":100,"wires":[["function1"]]},{"id":"function1","type":"function","z":"flow1","name":"Generar y Verificar","func":"msg.payload = Math.floor(Math.random()*50);\nif(msg.payload > 30){\n    return [msg,null];\n} else {\n    return [null,msg];\n}","outputs":2,"noerr":0,"x":350,"y":100,"wires":[["email1"],["debug1"]]},{"id":"email1","type":"e-mail","z":"flow1","server":"smtp.tu-servidor.com","port":"465","secure":true,"tls":true,"name":"tu@email.com","dname":"","x":550,"y":80,"wires":[]},{"id":"debug1","type":"debug","z":"flow1","name":"Dato OK","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":120,"wires":[]}]
