secuencia Ini/10_proyecto_iot.json
[{"id":"inject1","type":"inject","z":"flow1","name":"Simular Sensor","props":[{"p":"payload"}],"repeat":"5","once":true,"onceDelay":0.1,"topic":"","payloadType":"num","x":160,"y":120,"wires":[["function1"]]},{"id":"function1","type":"function","z":"flow1","name":"Dato Temperatura","func":"let temp = 20 + Math.random()*10;\nmsg.payload = {temperatura: temp, fecha: new Date().toLocaleString()};\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":120,"wires":[["ui_gauge1","ui_chart1","switch1"]]},{"id":"ui_gauge1","type":"ui_gauge","z":"flow1","name":"Gauge Temp","group":"ui_group1","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"°C","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":580,"y":80,"wires":[]},{"id":"ui_chart1","type":"ui_chart","z":"flow1","name":"Historial Temp","group":"ui_group1","order":1,"width":0,"height":0,"label":"Historial","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"50","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"60","cutout":"","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":580,"y":140,"wires":[[],[]]},{"id":"switch1","type":"switch","z":"flow1","name":"Mayor a 28°C","property":"payload.temperatura","propertyType":"msg","rules":[{"t":"gt","v":"28","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":570,"y":200,"wires":[["debug1"]]},{"id":"debug1","type":"debug","z":"flow1","name":"Alerta","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":200,"wires":[]},{"id":"ui_group1","type":"ui_group","name":"Grupo IoT","tab":"ui_tab1","order":1,"disp":true,"width":"6","collapse":false},{"id":"ui_tab1","type":"ui_tab","name":"Panel IoT","icon":"dashboard","disabled":false,"hidden":false}]
