secuencia Ini/c.json
[
    {
        "id": "flow-pie-001",
        "type": "tab",
        "label": "Grafico Torta",
        "disabled": false,
        "info": ""
    },
    {
        "id": "inject-pie",
        "type": "inject",
        "z": "flow-pie-001",
        "name": "Simular datos",
        "props": [
            { "p": "payload" }
        ],
        "repeat": "5",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 150,
        "y": 100,
        "wires": [
            [ "function-pie" ]
        ]
    },
    {
        "id": "function-pie",
        "type": "function",
        "z": "flow-pie-001",
        "name": "Generar datos torta",
        "func": "var a = Math.floor(Math.random() * 50 + 10);\nvar b = Math.floor(Math.random() * 50 + 10);\nvar c = Math.floor(Math.random() * 50 + 10);\n\nmsg.payload = [\n    { \"series\": [\"Distribuci칩n\"], \"labels\": [\"Rojo\", \"Verde\", \"Azul\"], \"data\": [[a, b, c]] }\n];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 100,
        "wires": [
            [ "chart-pie" ]
        ]
    },
    {
        "id": "chart-pie",
        "type": "ui_chart",
        "z": "flow-pie-001",
        "name": "Gr치fico Torta",
        "group": "group-pie",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Distribuci칩n de Datos",
        "chartType": "pie",
        "legend": "true",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#ff0000",
            "#00ff00",
            "#0000ff"
        ],
        "outputs": 1,
        "x": 610,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "group-pie",
        "type": "ui_group",
        "name": "Panel Gr치fico",
        "tab": "tab-pie",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "tab-pie",
        "type": "ui_tab",
        "name": "Dashboard Demo",
        "icon": "dashboard",
        "order": 1
    }
]
