secuencia Ed/06-switch.json
[
    {
        "id": "4d4e4f50.b2b1b",
        "type": "inject",
        "z": "da44a8e4.25bb58",
        "name": "Generar Número",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "$random() * 100",
        "payloadType": "jsonata",
        "x": 160,
        "y": 420,
        "wires": [
            [
                "5e5f6061.a1a0a"
            ]
        ]
    },
    {
        "id": "5e5f6061.a1a0a",
        "type": "switch",
        "z": "da44a8e4.25bb58",
        "name": "Clasificar Número",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "33",
                "vt": "num"
            },
            {
                "t": "btwn",
                "v": "33",
                "vt": "num",
                "v2": "66",
                "v2t": "num"
            },
            {
                "t": "gte",
                "v": "66",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 380,
        "y": 420,
        "wires": [
            [
                "6f707172.909f9"
            ],
            [
                "70717273.8f8e8"
            ],
            [
                "81828384.7e7d7"
            ]
        ]
    },
    {
        "id": "6f707172.909f9",
        "type": "debug",
        "z": "da44a8e4.25bb58",
        "name": "Número Bajo",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 590,
        "y": 380,
        "wires": []
    },
    {
        "id": "70717273.8f8e8",
        "type": "debug",
        "z": "da44a8e4.25bb58",
        "name": "Número Medio",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 590,
        "y": 420,
        "wires": []
    },
    {
        "id": "81828384.7e7d7",
        "type": "debug",
        "z": "da44a8e4.25bb58",
        "name": "Número Alto",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 590,
        "y": 460,
        "wires": []
    }
]