secuencia Ed/20-csv.json
[
    {
        "id": "a1b2c3d4.csvinject",
        "type": "inject",
        "z": "da44a8e4.25bb58",
        "name": "Datos CSV en String",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "id,sensor,valor\\n1,temperatura,23.5\\n2,humedad,68",
        "payloadType": "str",
        "x": 160,
        "y": 2860,
        "wires": [
            [
                "e5f6g7h8.csv"
            ]
        ]
    },
    {
        "id": "e5f6g7h8.csv",
        "type": "csv",
        "z": "da44a8e4.25bb58",
        "name": "Convertir CSV a Objeto",
        "sep": ",",
        "hdrin": true,
        "hdrout": "none",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "x": 390,
        "y": 2860,
        "wires": [
            [
                "i9j0k1l2.debug"
            ]
        ]
    },
    {
        "id": "i9j0k1l2.debug",
        "type": "debug",
        "z": "da44a8e4.25bb58",
        "name": "Ver Array de Objetos",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 2860,
        "wires": []
    }
]