secuencia Ed/33-dashboard-text-output.json
[
    {
        "id": "b1c2d3e4.inject_time",
        "type": "inject",
        "z": "da44a8e4.25bb58",
        "name": "Actualizar Hora",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 3260,
        "wires": [
            [
                "f5g6h7i8.function"
            ]
        ]
    },
    {
        "id": "f5g6h7i8.function",
        "type": "function",
        "z": "da44a8e4.25bb58",
        "name": "Formatear Fecha",
        "func": "const fecha = new Date(msg.payload);\nmsg.payload = \"Última actualización: \" + fecha.toLocaleTimeString();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 330,
        "y": 3260,
        "wires": [
            [
                "j9k0l1m2.ui_text"
            ]
        ]
    },
    {
        "id": "j9k0l1m2.ui_text",
        "type": "ui_text",
        "z": "da44a8e4.25bb58",
        "group": "some-ui-group",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Estado del Sistema",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 530,
        "y": 3260,
        "wires": []
    },
    {
        "id": "some-ui-group",
        "type": "ui_group",
        "name": "General",
        "tab": "some-ui-tab",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "some-ui-tab",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]