secuencia Ed/73-postgresql-delete.json
[
    {
        "id": "u1v2w3x4.delete",
        "type": "inject",
        "z": "da44a8e4.25bb58",
        "name": "Borrar Datos Antiguos",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "DELETE FROM sensores WHERE id NOT IN (SELECT id FROM sensores ORDER BY fecha DESC LIMIT 10);",
        "payloadType": "str",
        "x": 170,
        "y": 1060,
        "wires": [
            [
                "i9j0k1l2.postgres"
            ]
        ]
    },
    {
        "id": "i9j0k1l2.postgres",
        "type": "postgres",
        "z": "da44a8e4.25bb58",
        "postgresdb": "your-db-config",
        "name": "PostgreSQL DB",
        "x": 600,
        "y": 900,
        "wires": [
            [
                "y5z6a7b8.debug"
            ]
        ]
    },
    {
        "id": "y5z6a7b8.debug",
        "type": "debug",
        "z": "da44a8e4.25bb58",
        "name": "Resultado DELETE",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 1060,
        "wires": []
    },
    {
        "id": "your-db-config",
        "type": "postgresdb",
        "name": "Mi Base de Datos",
        "host": "127.0.0.1",
        "port": "5432",
        "database": "nombre_db",
        "username": "usuario_db",
        "password": "password_db",
        "ssl": false
    }
]